{
  "plugins": [
    "transform-flow-strip-types",
    "transform-react-jsx",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}
