@import '../../variables';
.board {
  $cardSize: 165px;
  $dieSize: 40px;
  $cards:
    apple-orchard
    bakery
    business-center
    cafe
    cheese-factory
    convenience-store
    family-restaurant
    forest
    fruit-and-vegetable-market
    furniture-factory
    mine
    ranch
    stadium
    tv-station
    wheat-field;
  position: absolute;
  top: 0;
  bottom: 0;
  width: ($cardSize + 16px) * 5;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__info {
    display: flex;
    flex-basis: $dieSize;
    font-size: 24px;
    width: 100%;
  }
  &__turn, &__dice {
    margin: auto;
  }
  @each $l in r y {
    %die {
      width: $dieSize;
      height: $dieSize;
      margin: 0 8px;
    }
    &__#{$l}die {
      @for $i from 1 through 6 {
        &--side-#{$i} {
          @extend %die;
          background-image: url(../../../images/#{$l}die#{$i}.png);
          background-size: contain;
        }
      }
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
  }
  &__card-backing {
    background-color: white;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    &--depth-0 { opacity: 0.5; }
    @for $i from 1 through 6 {
      &--depth-#{$i} {
        $shadows: 0 2px 0 0 darken(white, 5), 0 2px 0 1px darken(white, 10);
        @for $n from 2 through $i {
          $shadows: $shadows + ', 0 #{2 * $n}px 0 0 #{darken(white, 0)}, 0 #{2 * $n}px 0 1px #{darken(white, 10)}'
        }
        box-shadow: #{$shadows};
        transform: translateY(-2px * $i);
      }
    }
  }
  &__card {
    @each $card in $cards {
      &--#{$card} {
        background-image: url(../../../images/card-#{$card}.png);
        background-size: cover;
        width: $cardSize;
        height: $cardSize / 0.66;
      }
    }
  }
}
