@import '../../variables';
@import '../../base';
@import '../../mixins';

.board {
  position: absolute;
  top: 0;
  bottom: 0;
  width: ($cardSize + 16px) * 5;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__info {
    display: flex;
    flex-basis: $dieSize;
    font-size: 24px;
    width: 100%;
  }
  &__turn, &__dice {
    margin: auto;
    display: flex;
  }
  @each $l in r y {
    %die {
      width: $dieSize;
      height: $dieSize;
      margin: 0 8px;
    }
    &__#{$l}die {
      @for $i from 1 through 6 {
        &--side-#{$i} {
          @extend %die;
          background-image: url(../../../images/#{$l}die#{$i}.png);
          background-size: contain;
        }
      }
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
  }
  &__card-backing {
    @include card-backing;
  }
  &__card {
    @each $card in $cards {
      &--#{$card} {
        @extend %card;
        background-image: url(../../../images/card-#{$card}.png);
      }
    }
  }
}
