@import '../../base';
@import '../../mixins';
@import '../../animations';

.controls {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.start-phase {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    width: 100%;
    background-color: transparentize(white, 0.1);
    animation: swoosh-in 0.5s both;
    &::after {
      content: '';
      @include triangle(50px, 100px, transparentize(white, 0.1));
    }
  }
  &__button {
    @extend %button;
    line-height: 100px;
    height: 100px;
    width: 100%;
  }
}
