@import '../../variables';
@import '../../base';
@import '../../mixins';

.player {
  position: absolute;
  padding: 16px;
  background-color: transparentize(white, 0.2);
  @for $i from 1 through 4 {
    &--#{$i} {
      transform-origin: bottom left;
      transform: rotate(#{($i - 1) * -90deg});
    }
  }
  &--1 {
    left: 0;
    bottom: 0;
  }
  &--2 {
    left: 100%;
    bottom: 0;
  }
  &--3 {
    left: 100%;
    bottom: 100%;
  }
  &--4 {
    left: 0;
    bottom: 100%;
  }

  &__goals, &__coins, &__cards {
    display: flex;
    align-items: center;
  }
  &__name {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
  &__coin {
    @include coin;
    background-size: cover;
    margin: 8px;
    @each $i in 1 5 10 {
      &--value-#{$i} {
        width: map-get($coinSize, $i);
        height: map-get($coinSize, $i);
        background-image: url('../../../images/coin-#{$i}.png');
      }
    }
  }
  &__card-backing {
    @include card-backing;
    &--small {
      margin: 1px;
      padding: 1px;
      border-radius: 1px;
    }
  }
  &__card {
    color: white;
    text-shadow:
     -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    @each $card in join($cards, $landmarks) {
      &--#{$card} {
        @extend %landmark;
        background-image: url('../../../images/card-#{$card}.png');
      }
    }
    &--small {
      width: $cardSize / 2 / 3;
      height: $cardSize / 0.66 / 2 / 3;
    }
  }
}
