$iconFont: 'Material Icons';
$skyblue: #01addd;
$cardSize: 165px;
$dieSize: 40px;
$cards:
  apple-orchard
  bakery
  business-center
  cafe
  cheese-factory
  convenience-store
  family-restaurant
  forest
  fruit-and-vegetable-market
  furniture-factory
  mine
  ranch
  stadium
  tv-station
  wheat-field;
$landmarks:
  amusement-park
  amusement-park-back
  radio-tower
  radio-tower-back
  shopping-mall
  shopping-mall-back
  train-station
  train-station-back;
$coinSize: (
  1: 40px,
  5: 60px,
  10: 80px
);
